/* You can add global styles to this file, and also import other style files */
body{
  margin:0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.clickable{
  cursor: pointer;
}


p, button, input, label {
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;

}

.menu-option{
  color: #90C6CB;
}

.menu-option:hover{
  background-color :  #DC3B16;
}

.toolSelected, .toolSelected:hover{
  color : #DC3B16;
  background-color:#292A29;
  border-right-style:solid;
  border-right-width: 5px;
}


.bg-horizontale-bar{
  background-color:#292A29;
}
.bg-side-bar{
  background-color:#292A29;
}
.bg-properties{
  color: #90C6CB;
  background-color:rgb(82, 85, 82);

}

.color-blue{
  border-color:#90C6CB;
  background-color:#90C6CB;
  color:black;
}

.popupMessage{
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  // Valeur 1051 pour être au-dessus des fenêtres modales dont le z-index est 1050
  z-index: 1051 !important;
}

.icon-color-disabled{
  color: rgb(83, 107, 109);
}

.custom-slider::-webkit-slider-thumb{
  background-color: #DC3B16;
}

.custom-slider::-moz-range-thumb{
  background-color: #DC3B16;
}