<div class="row">
  <div class="col-md-12">
    <small for="rangeEpaisseur">Taille : {{strokeWidth}} px</small>
    <input id="LineStrokewidthinput" type="range" class="custom-range" [(ngModel)]="strokeWidth" (change)="onChangeStrokeWidth()"
      [min]="MIN_STROKE_WIDTH" [max]="MAX_STROKE_WIDTH" step="1">
  </div>
</div>
<div class="row">

    <div class="col-md-12">
        <small>Motif</small>
    </div>
    <div class="form-check col-md-12">
        <select class="form-control form-control-sm" [(ngModel)]="pattern" (change)="onChangePattern()">
            <option *ngFor="let pattern of PATTERN_NAMES_MAP | keyvalue" [ngValue]="pattern.value">{{pattern.key}}</option>
        </select>
    </div>

    <div class="col-md-12">
        <small>Jonction</small>
    </div>
    <div class="form-check col-md-12">
        <select class="form-control form-control-sm" [(ngModel)]="lineJoin" (change)="onChangeJoin()">
            <option *ngFor="let lineJoin of LINE_JOIN_NAMES_MAP | keyvalue" [ngValue]="lineJoin.value">{{lineJoin.key}}</option>
        </select>
    </div>
    <div class="col-md-12" *ngIf="lineJoin === 4 "> <!-- lineJoin.Point === 4 -->
        <small for="rangeEpaisseur">Diamètre : {{circleRadius}} px</small>
        <input id="LineCercleRadius" type="range" class="custom-range" [(ngModel)]="circleRadius" (change)="onChangeCircleRadius()"
          [min]="MIN_STROKE_WIDTH" [max]="MAX_STROKE_WIDTH" step="1">
    </div>

    <div class="col-md-12" *ngIf="lineJoin === 6 "> <!-- lineJoin.Special === 6 -->
        <small for="rangeEpaisseur">Coefficient de courbure : {{lineRounding}}</small>
        <input id="LineCercleRadius" type="range" class="custom-range" [(ngModel)]="lineRounding" (change)="onChangeRounding()"
          [min]="DEFAULT_LINE_ROUNDING" [max]="MAX_LINE_ROUNDING" step="1">
    </div>

    <div class="col-md-12">
        <small>Forme du bout</small> 
    </div>
    <div class="form-check col-md-12">
        <select class="form-control form-control-sm" [(ngModel)]="lineCap" (change)="onChangeCap()">
            <option *ngFor="let lineCap of LINE_CAP_NAMES_MAP | keyvalue" [ngValue]="lineCap.value">{{lineCap.key}}</option>
        </select>
     </div>
</div> 