<div class="row">
  <div class="col-md-12">
    <small for="rangeEpaisseur">Épaisseur : {{strokeWidth}} px</small>
    <input id="strokewidthinput" type="range" class="custom-range custom-slider" [(ngModel)]="strokeWidth"
      (change)="onChangeStrokeWidth()" [min]="MIN_STROKE" [max]="MAX_STROKE" step="1">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <small>Choix de la forme</small>
  </div>
  <div class="form-check col-md-12">
    <select class="form-control form-control-sm clickable" [(ngModel)]="toolType" (change)="onChangeShapeType()">
      <option *ngFor="let shape of SHAPE_TYPE_NAMES_MAP | keyvalue" [ngValue]="shape.value">{{shape.key}}
      </option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <small>Choix du style</small>
  </div>
  <div class="form-check col-md-12">
    <select class="form-control form-control-sm clickable" [(ngModel)]="strokeType" (change)="onChangeStrokeType()">
      <option *ngFor="let strokeType of STROKE_TYPE_NAMES_MAP | keyvalue" [ngValue]="strokeType.value">
        {{strokeType.key}}
      </option>
    </select>
  </div>
</div>
<div *ngIf="toolType === POLYGON_TYPE" class="row">
  <div class="col-md-12">
    <small>Nombre de côtés</small>
  </div>
  <div class="form-check col-md-12">
    <select id="numberofsidesinput" class="form-control form-control-sm clickable" [(ngModel)]="numberSidesPolygon"
      (change)="onChangeSidesNumber()">
      <option *ngFor="let name of POLYGONS | keyvalue" [ngValue]="name.key">
        {{name.value}}
      </option>
    </select>
  </div>
</div>