<div class="container">
  <div class=" properties">
    <div class="row">
      <div class="col-md-12">
        <h6 class="border-bottom">Properties</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="colors">

    <div class="row">
      <div class="col-md-12">
        <h6 class="border-bottom ">Colors</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-color-tool></app-color-tool>
      </div>
    </div>
  </div>
</div>