<div class="gridContainer">
  <div class="logo border-bottom border-right">
  </div>
  <div class="menu p-0">
    <app-new-drawing class="clickable options border-left border-right icon-color menu-option" placement="bottom"
      ngbTooltip="New Drawing"></app-new-drawing>
    <app-save-drawing class="clickable options border-left border-right icon-color menu-option" placement="bottom"
      ngbTooltip="Save Drawing"></app-save-drawing>
    <app-open-gallery class="clickable options border-left border-right icon-color menu-option" placement="bottom"
      ngbTooltip="Gallery"></app-open-gallery>
  </div>
</div>