<div class="gridContainer">
  <div class="logo border-bottom border-right">
  </div>
  <div class="menu p-0">
    <app-new-drawing class="clickable options border-left border-right icon-color menu-option" placement="bottom"
      ngbTooltip="Nouveau dessin (Ctrl+O)"></app-new-drawing>
    <app-save-drawing class="clickable options border-left border-right icon-color menu-option" placement="bottom"
      ngbTooltip="Sauvegarder un dessin (Ctrl+S)"></app-save-drawing>
    <app-open-gallery class="clickable options border-left border-right icon-color menu-option" placement="bottom"
      ngbTooltip="Ouvrir la galerie de dessins (Ctrl+G)"></app-open-gallery>
    <app-export-drawing class="clickable options border-left border-right icon-color menu-option" placement="bottom"
      ngbTooltip="Exporter le dessin (Ctrl+E)"></app-export-drawing>
    <app-undo class="options border-left border-right" placement="bottom">
    </app-undo>
    <app-redo class="options border-left border-right" placement="bottom">
    </app-redo>
  </div>
</div>