<div class="text-center p-0" (click)="openModal()">
  <i class="far fa-save clickable fa-2x align-middle"></i>
</div>
<ng-template #saveDrawingModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Sauvegarder un dessin</h5>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div *ngIf="loading" class="modal-body text-center">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <form *ngIf="!loading" (keydown.enter)="$event.preventDefault()" (ngSubmit)="saveDrawing()">
    <div class="modal-body">
      <div class="modal-body">
        <div class="row align-middle mt-3">
          <label class="col-md-5">Nom: </label>
          <div class="col-md-7">
            <input class="form-control" id="drawingName" name="drawingName" type="text" id="drawingName"
              [(ngModel)]="drawingInfo.name" (focusin)="keyboardService.inputFocusedActive = true;"
              (focusout)="checkErrorsInForm(); keyboardService.inputFocusedActive = false;">
          </div>
        </div>
        <div class="row mt-3">
          <label class="col-md-5 my-auto">Type de sauvegarde:</label>
          <div class="col-md-7 ">
            <select class="custom-select" name="typeSave" [(ngModel)]="drawingInfo.typeOfSave"
              (focusout)="checkErrorsInForm()">
              <option *ngFor="let type of typeOfSave" [ngValue]="type.id">{{type.text}}</option>
            </select>
          </div>
        </div>


        <div class="row mt-3">
          <label class="col-md-5 my-auto">Étiquettes: </label>
          <div class="col-md-7">
            <div class="input-group">
              <input class="form-control" id="tags" name="tags" type="text" id="tags" [(ngModel)]="currentTagInput"
                (focusin)="keyboardService.inputFocusedActive = true; tagEntryActive = true;"
                (focusout)="checkErrorsInForm(); addNewTag(); keyboardService.inputFocusedActive = false; tagEntryActive = false;"
                [ngbTypeahead]="searchTagName" (focus)="focus$.next($event.target.value)"
                (click)="click$.next($event.target.value)">
              <div class="input-group-append ">
                <div class="input-group-text clickable">
                  <i class="fas fa-plus " (click)="addNewTag();" placement="bottom" ngbTooltip="Ajouter"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1 form-inline">
          <label *ngFor="let tag of drawingInfo.tags" class="bg-secondary m-1 form-inline form-control-sm text-light">
            {{tag.tagName}}
            <i class="fas fa-times clickable ml-1" placement="bottom" ngbTooltip="Retirer" (click)="removeTag(tag)"></i>
          </label>
        </div>
        <div class="row mt-4">
          <div *ngIf="this.controllerService.isEmptyPrimitives()" id="dataAlert" class="alert alert-danger"
            role="alert">
            Le dessin est vide, mais vous pouvez quand même le sauvegarder.
          </div>
        </div>
        <div *ngIf="tagsAllreadyExist" id="dataAlert" class="alert alert-danger" role="alert">
          Étiquette déjà présente. Veuillez choisir un nouveau tag.
        </div>
        <div *ngIf="errorInForm" id="dataAlert" class="alert alert-danger" role="alert">
          Erreur dans le formulaire. Le nom doit être de 50 caractères ou moins, et non vide. Veuillez réviser.
        </div>
      </div>
      <div *ngIf="isError" id="dataAlert" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
      <div class="modal-footer mt-4">
        <button id="dismiss" type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
        <button type="submit" class="btn btn-success" [disabled]="errorInForm || loading">
          {{textSaveButton}}</button>
      </div>
    </div>
  </form>
</ng-template>