<div class="row">
  <div class="col-md-12">
    <small for="rangeEpaisseur">Size : {{strokeWidth}} px</small>
    <input id="strokewidthinput" type="range" class="custom-range" [(ngModel)]="strokeWidth" (change)="onChangeStrokeWidth()"
      [min]="MIN_STROKE_WIDTH" [max]="MAX_STROKE_WIDTH" step="1">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <small>Style Choice</small>
  </div>
  <div class="form-check col-md-12">
    <select class="form-control form-control-sm" [(ngModel)]="texture" (change)="onChangeTexture()">
      <option *ngFor="let texture of TEXTURE_NAMES_MAP | keyvalue" [ngValue]="texture.value">{{texture.key}}</option>
    </select>
  </div>
</div>