<div class="row">
  <div class="col-md-12">
    <small for="rangescale">Echelle : {{scale}} %</small>
    <input id="rotationAngleInput" type="range" class="custom-range" [(ngModel)]="scale"
      (change)="onChangeScale()" [min]="25" [max]="300" step="1">
  </div>
  <div class="col-md-12">
    <small for="rangerotation">Rotation : {{rotationAngle}} °</small>
    <input id="rotationAngleInput" type="range" class="custom-range" [(ngModel)]="rotationAngle"
      (change)="onChangeRotation()" [min]="MIN_ANGLE" [max]="MAX_ANGLE" step="1">
  </div>
  <div class="col-md-12">
    <small>Etampe</small>
    <select #stampSelection class="form-control form-control-sm" (change)="onChangeStamp(stampSelection.value)">
      <option *ngFor="let stamp of STAMPS" [ngValue]="stamp.name">
        {{stamp.name}}
      </option>
    </select>
  </div>
</div>