<div class="gridContainer">
  <div class="grid-item border-top border-bottom">
    <app-pencil-button class="clickable section p-1 menu-option" [routerLink]="_ROUTE_TO_PENCIL"
      routerLinkActive="toolSelected" placement="right" ngbTooltip="Pencil"></app-pencil-button>
  </div>

  <div class="grid-item border-top border-bottom">
    <app-line-button class="clickable section p-1 menu-option" [routerLink]="_ROUTE_TO_LINE"
      routerLinkActive="toolSelected" placement="right" ngbTooltip="Line"></app-line-button>
  </div>

  <div class="grid-item border-top border-bottom">
    <app-paint-brush-button class="clickable section p-1 menu-option" [routerLink]="_ROUTE_TO_PAINT_BRUSH"
      routerLinkActive="toolSelected" placement="right" ngbTooltip="Brush">
    </app-paint-brush-button>
  </div>

  <div class="grid-item border-top border-bottom">
    <app-shapes-button class="clickable section p-1 menu-option" [routerLink]="_ROUTE_TO_SHAPE"
      routerLinkActive="toolSelected" placement="right" ngbTooltip="Shapes">
    </app-shapes-button>
  </div>

  <div class="grid-item border-top border-bottom">
    <app-paint-bucket-button class="clickable section p-1 menu-option" [routerLink]="_ROUTE_TO_PAINT_BUCKET"
      routerLinkActive="toolSelected" placement="right" ngbTooltip="Color Applicator">
    </app-paint-bucket-button>
  </div>

  <div class="grid-item border-top border-bottom">
    <app-selection-button class="clickable section p-1 menu-option" [routerLink]="_ROUTE_TO_SELECTION"
      routerLinkActive="toolSelected" placement="right" ngbTooltip="Selection">
    </app-selection-button>
  </div>

  <div class="grid-item border-top border-bottom">
    <app-stamp-button class="clickable section p-1 menu-option" routerLink="/stamp" routerLinkActive="toolSelected"
      placement="right" ngbTooltip="Stamp">
    </app-stamp-button>
  </div>

  <div class="grid-item border-top border-bottom">
    <app-eyedropper-button class="clickable section p-1 menu-option" routerLink="/dropper"
      routerLinkActive="toolSelected" placement="right" ngbTooltip="Eyedropper">
    </app-eyedropper-button>
  </div>

  <div class="grid-item border-top border-bottom">
    <app-grid-button class="clickable section p-1 menu-option" [routerLink]="_ROUTE_TO_GRID"
      routerLinkActive="toolSelected" placement="right" ngbTooltip="Grid">
    </app-grid-button>
  </div>
</div>