<div class="gridContainer">
  <div class="grid-item border-top border-bottom">
    <app-pencil-button class="clickable section p-1 menu-option" routerLink="/pencil" routerLinkActive="toolSelected"
      placement="right" ngbTooltip="Crayon"></app-pencil-button>
  </div>
  <div class="grid-item border-top border-bottom">
    <app-paint-brush-button class="clickable section p-1 menu-option" routerLink="/paint-brush" routerLinkActive="toolSelected"
      placement="right" ngbTooltip="Pinceau">
    </app-paint-brush-button>
  </div>
  <div class="grid-item border-top border-bottom">
    <app-shapes-button class="clickable section p-1 menu-option" routerLink="/shapes" routerLinkActive="toolSelected"
      placement="right" ngbTooltip="Formes">
    </app-shapes-button>
  </div>

  <div class="grid-item border-top border-bottom">
    <app-paint-bucket-button class="clickable section p-1 menu-option" routerLink="/paint-bucket" routerLinkActive="toolSelected"
      placement="right" ngbTooltip="Applicateur de couleur">
    </app-paint-bucket-button>
  </div>
</div>